#   Ipython notebook for exploring SF opendata on homeless waitlist

https://data.sfgov.org/Health-and-Social-Services/HSA-90-day-emergency-shelter-waitlist/w4sk-nq57

In [2]:
import numpy as np
import pandas as pd
import matplotlib as plt
import h5py

In [3]:
url = 'https://data.sfgov.org/resource/5pja-2btv.json'
url = url[:-4]+'csv'
print(url)
url2 = url+"?$offset=1000"
print(url2)

https://data.sfgov.org/resource/5pja-2btv.csv
https://data.sfgov.org/resource/5pja-2btv.csv?$offset=1000

In [4]:
df = pd.read_csv(url)
df2 = pd.read_csv(url2)

In [5]:
print(len(df))
print(len(df2))

1000
31

In [6]:

df = pd.concat([df,df2])
len(df)

1031

In [7]:
df.head(2)

,caseid,dob,message,position_number,reservation_seniority,txtchangesid
0,6440433,01-20-1985,"Please call 311 between 8:30AM and 4:30PM, Mon...",23,16295010,18818
1,6444118,06-02-1982,"Please call 311 between 8:30AM and 4:30PM, Mon...",24,16295014,377230

In [8]:
df = df.sort_values(by = 'reservation_seniority')

In [9]:
df.head()

,caseid,dob,message,position_number,reservation_seniority,txtchangesid
16,6427207,07-12-1978,"Please call 311 between 8:30AM and 4:30PM, Mon...",1,16291006,393464
34,6430436,03-31-1970,"Please call 311 between 8:30AM and 4:30PM, Mon...",2,16292002,47818
10,6431221,01-12-1970,"Please call 311 between 8:30AM and 4:30PM, Mon...",3,16292005,349843
22,6427476,05-20-1992,"Please call 311 between 8:30AM and 4:30PM, Mon...",4,16292015,396863
26,6428295,07-19-1976,"Please call 311 between 8:30AM and 4:30PM, Mon...",5,16292016,325121

In [10]:
df.reservation_seniority.value_counts

<bound method IndexOpsMixin.value_counts of 16     16291006
34     16292002
10     16292005
22     16292015
26     16292016
24     16292027
30     16293004
13     16293008
25     16293011
67     16293021
15     16293023
35     16293024
31     16293026
37     16293029
19     16294008
17     16294009
14     16294011
23     16294015
7      16294016
38     16294017
4      16294022
5      16295002
0      16295010
1      16295014
3      16295017
73     16295020
215    16296005
562    16296014
473    16296015
74     16297004
         ...
24     16350001
285    16350002
111    16350003
78     16350004
513    16350005
56     16350006
817    16350007
399    16350008
597    16350009
740    16350010
319    16350011
819    16350012
798    16350013
581    16350014
572    16350015
346    16350016
11     16350017
267    16350018
442    16350019
265    16350020
673    16350021
792    16350022
423    16350023
165    16350024
292    16350025
578    16350026
450    16350027
329    16350028
18     16350029
456    16350030
Name: reservation_seniority, dtype: int64>

In [11]:
df.reservation_seniority.describe()

count    1.031000e+03
mean     1.632770e+07
std      1.480460e+04
min      1.629101e+07
25%      1.631602e+07
50%      1.632803e+07
75%      1.634101e+07
max      1.635003e+07
Name: reservation_seniority, dtype: float64

In [12]:
caseOne = df.dob[2]
print(type(caseOne))
print(caseOne)

<class 'pandas.core.series.Series'>
2    07-31-1960
2    09-15-1982
Name: dob, dtype: object

In [13]:
df.tail(40)

,caseid,dob,message,position_number,reservation_seniority,txtchangesid
432,6623983,10-24-1985,NaN,992,16349012,289959
531,6623697,06-22-1960,NaN,993,16349013,275814
549,6626059,06-12-1958,NaN,994,16349014,373619
620,6625417,04-10-1991,NaN,995,16349015,378272
614,6623833,05-05-1978,NaN,996,16349016,363254
433,6624633,01-01-1974,NaN,997,16349017,398135
101,6623718,07-15-1968,NaN,998,16349018,662371
912,6623791,05-04-1972,NaN,999,16349019,16609
221,6623470,06-21-1961,NaN,1000,16349020,298268
453,6622834,07-27-1991,NaN,1001,16349021,272042
24,6627858,06-07-1955,NaN,1002,16350001,363604
285,6629335,05-27-1962,NaN,1003,16350002,357772
111,6629577,04-30-1955,NaN,1004,16350003,295016
78,6628684,01-19-1951,NaN,1005,16350004,393560
513,6627182,09-12-1980,NaN,1006,16350005,298438
56,6628807,01-13-1987,NaN,1007,16350006,390665
817,6627889,01-07-1951,NaN,1008,16350007,30539
399,6627876,03-31-1961,NaN,1009,16350008,344757
597,6627959,03-26-1985,NaN,1010,16350009,309945
740,6626412,09-17-1965,NaN,1011,16350010,290916
319,6629656,09-30-1962,NaN,1012,16350011,8968
819,6627816,10-30-1973,NaN,1013,16350012,19267
798,6629208,02-18-1964,NaN,1014,16350013,36523
581,6629315,10-14-1956,NaN,1015,16350014,397883
572,6627778,06-25-1979,NaN,1016,16350015,299447
346,6628738,06-12-1956,NaN,1017,16350016,394864
11,6628015,02-14-1963,NaN,1018,16350017,47968
267,6629462,10-13-1989,NaN,1019,16350018,394405
442,6628575,02-20-1943,NaN,1020,16350019,51524
265,6626524,10-09-1966,NaN,1021,16350020,356207
673,6629581,12-22-1943,NaN,1022,16350021,279476
792,6629613,03-20-1962,NaN,1023,16350022,333660
423,6627328,12-23-1958,NaN,1024,16350023,390004
165,6627324,11-07-1965,NaN,1025,16350024,381956
292,6629509,05-22-1969,NaN,1026,16350025,376664
578,6628016,07-03-1958,NaN,1027,16350026,20071
450,6628808,12-09-1960,NaN,1028,16350027,398025
329,6629420,02-01-1951,NaN,1029,16350028,40780
18,6628566,04-14-1956,NaN,1030,16350029,393110
456,6628894,11-09-1965,NaN,1031,16350030,18811

# how do I change column to_datetime

Am I even sure that I want to change this.

In [14]:
print('http://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html')
print('http://stackoverflow.com/questions/26763344/convert-pandas-column-to-datetime')

http://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html
http://stackoverflow.com/questions/26763344/convert-pandas-column-to-datetime

In [15]:
#raw_data['Mycol'] =  pd.to_datetime(raw_data['Mycol'], format='%d%b%Y:%H:%M:%S.%f')

In [16]:
# doesn't work
#theawnseris = pd.to_datetime(df['dob'], format='%m-%d-%Y')

In [17]:
# df = df['dob'].pd.to_datetime(format= '%d/%m/%Y')

In [18]:
df.head()

,caseid,dob,message,position_number,reservation_seniority,txtchangesid
16,6427207,07-12-1978,"Please call 311 between 8:30AM and 4:30PM, Mon...",1,16291006,393464
34,6430436,03-31-1970,"Please call 311 between 8:30AM and 4:30PM, Mon...",2,16292002,47818
10,6431221,01-12-1970,"Please call 311 between 8:30AM and 4:30PM, Mon...",3,16292005,349843
22,6427476,05-20-1992,"Please call 311 between 8:30AM and 4:30PM, Mon...",4,16292015,396863
26,6428295,07-19-1976,"Please call 311 between 8:30AM and 4:30PM, Mon...",5,16292016,325121

# save so that I can compare with later and other versions

see

In [19]:
print('http://stackoverflow.com/questions/17098654/how-to-store-data-frame-using-pandas-python')

http://stackoverflow.com/questions/17098654/how-to-store-data-frame-using-pandas-python

In [20]:
df.to_pickle('waitlist.pkl')

In [21]:
store = HDFStore('store.h5')

NameError: name 'HDFStore' is not defined