#   Ipython notebook for exploring SF opendata on homeless waitlist

https://data.sfgov.org/Health-and-Social-Services/HSA-90-day-emergency-shelter-waitlist/w4sk-nq57

In [13]:
import numpy as np
import pandas as pd
import matplotlib as plt
import h5py

In [14]:
url = 'https://data.sfgov.org/resource/5pja-2btv.json'
url = url[:-4]+'csv'
print(url)
url2 = url+"?$offset=1000"
print(url2)

https://data.sfgov.org/resource/5pja-2btv.csv
https://data.sfgov.org/resource/5pja-2btv.csv?$offset=1000

In [15]:
df = pd.read_csv(url, encoding='utf-8')
df2 = pd.read_csv(url2, encoding='utf-8')

In [16]:
print(len(df))
print(len(df2))

966
0

In [17]:

df = pd.concat([df,df2])
len(df)

966

In [18]:
df.head(2)

,caseid,dob,message,position_number,reservation_seniority,txtchangesid
0,6466209.0,05-03-1997,"Please call 311 between 8:30AM and 4:30PM, Mon...",19.0,16302008.0,390714.0
1,6471887.0,07-30-1952,"Please call 311 between 8:30AM and 4:30PM, Mon...",26.0,16303001.0,377550.0

In [19]:
df['yob'] = df['dob'].str.extract('(?P<year>\d{4})').astype(int)

/home/gdillon/.local/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  if __name__ == '__main__':

In [20]:
df.sort_values(by='yob')[:130]

,caseid,dob,message,position_number,reservation_seniority,txtchangesid,yob
758,6480197.0,01-06-0969,"Please call 311 between 8:30AM and 4:30PM, Mon...",41.0,16306026.0,283890.0,969
934,6540516.0,10-05-1929,NaN,233.0,16323013.0,393577.0,1929
522,6559477.0,12-02-1932,NaN,401.0,16329019.0,34777.0,1932
578,6545189.0,10-04-1934,NaN,275.0,16324014.0,37547.0,1934
252,6574805.0,05-29-1936,NaN,508.0,16335008.0,19972.0,1936
542,6577496.0,11-24-1936,NaN,501.0,16335001.0,397700.0,1936
638,6540608.0,02-03-1937,NaN,237.0,16323017.0,393702.0,1937
872,6568992.0,02-18-1940,NaN,450.0,16333008.0,6450.0,1940
434,6571896.0,05-22-1941,NaN,487.0,16334037.0,393724.0,1941
223,6540474.0,08-16-1941,"Please call 311 between 8:30AM and 4:30PM, Mon...",253.0,16323034.0,390803.0,1941
750,6631509.0,06-19-1942,NaN,911.0,16351021.0,33569.0,1942
108,6544386.0,06-12-1943,NaN,277.0,16324016.0,36237.0,1943
843,6629581.0,12-22-1943,NaN,882.0,16350021.0,279476.0,1943
626,6628575.0,02-20-1943,NaN,880.0,16350019.0,51524.0,1943
889,6603313.0,01-08-1943,NaN,713.0,16343034.0,282641.0,1943
781,6517646.0,01-23-1943,"Please call 311 between 8:30AM and 4:30PM, Mon...",120.0,16316008.0,375983.0,1943
477,6525068.0,03-31-1944,NaN,151.0,16318009.0,31949.0,1944
530,6614298.0,06-30-1944,NaN,772.0,16346002.0,397892.0,1944
732,6636946.0,03-26-1944,NaN,948.0,16353006.0,398169.0,1944
287,6575338.0,06-23-1944,NaN,512.0,16335012.0,357391.0,1944
114,6544412.0,10-29-1944,"Please call 311 between 8:30AM and 4:30PM, Mon...",297.0,16324037.0,325830.0,1944
265,6533426.0,08-24-1945,NaN,195.0,16321028.0,293925.0,1945
437,6517010.0,10-24-1945,"Please call 311 between 8:30AM and 4:30PM, Mon...",124.0,16316015.0,397445.0,1945
798,6485189.0,09-18-1945,"Please call 311 between 8:30AM and 4:30PM, Mon...",47.0,16307003.0,304627.0,1945
787,6587070.0,04-29-1945,NaN,608.0,16338019.0,397833.0,1945
467,6551842.0,01-09-1946,"Please call 311 between 8:30AM and 4:30PM, Mon...",328.0,16327009.0,382348.0,1946
554,6544730.0,03-28-1946,"Please call 311 between 8:30AM and 4:30PM, Mon...",302.0,16324042.0,18461.0,1946
200,6576038.0,01-03-1946,NaN,532.0,16335032.0,397737.0,1946
388,6587598.0,12-24-1946,NaN,596.0,16338007.0,300390.0,1946
707,6618557.0,11-18-1946,NaN,810.0,16348015.0,40131.0,1946
...,...,...,...,...,...,...,...
724,6564339.0,07-30-1953,NaN,437.0,16332024.0,36302.0,1953
11,6460447.0,04-26-1953,"Please call 311 between 8:30AM and 4:30PM, Mon...",10.0,16300001.0,386071.0,1953
332,6605088.0,09-13-1953,NaN,701.0,16343022.0,31775.0,1953
146,6638542.0,03-14-1953,NaN,947.0,16353005.0,391396.0,1953
303,6625962.0,01-13-1953,NaN,847.0,16349006.0,305925.0,1953
607,6603726.0,07-07-1953,NaN,696.0,16343017.0,317850.0,1953
507,6617163.0,03-23-1953,NaN,793.0,16347010.0,288139.0,1953
215,6540592.0,09-12-1953,"Please call 311 between 8:30AM and 4:30PM, Mon...",246.0,16323026.0,390498.0,1953
720,6535082.0,10-13-1953,NaN,187.0,16321019.0,388643.0,1953
33,6476598.0,09-09-1953,"Please call 311 between 8:30AM and 4:30PM, Mon...",32.0,16305011.0,10493.0,1953
527,6595916.0,01-06-1953,NaN,656.0,16341027.0,339899.0,1953
632,6620895.0,09-12-1953,NaN,803.0,16348008.0,35049.0,1953
575,6635514.0,12-16-1953,NaN,932.0,16352021.0,13956.0,1953
129,6493620.0,03-08-1953,"Please call 311 between 8:30AM and 4:30PM, Mon...",62.0,16309015.0,16658.0,1953
499,6495520.0,03-21-1954,NaN,67.0,16310005.0,26743.0,1954
126,6564255.0,07-09-1954,NaN,419.0,16332005.0,374608.0,1954
333,6608208.0,05-03-1954,NaN,730.0,16344017.0,313610.0,1954
164,6561523.0,12-01-1954,NaN,403.0,16329021.0,329476.0,1954
511,6611324.0,05-22-1954,NaN,749.0,16345004.0,373768.0,1954
663,6553239.0,11-01-1954,NaN,330.0,16327011.0,394731.0,1954
887,6588061.0,08-30-1954,NaN,607.0,16338018.0,312179.0,1954
119,6533062.0,04-13-1954,"Please call 311 between 8:30AM and 4:30PM, Mon...",193.0,16321026.0,394230.0,1954
24,6475815.0,12-23-1954,"Please call 311 between 8:30AM and 4:30PM, Mon...",33.0,16305013.0,7368.0,1954
20,6467394.0,12-08-1954,"Please call 311 between 8:30AM and 4:30PM, Mon...",18.0,16302004.0,397131.0,1954
37,6460463.0,09-05-1954,"Please call 311 between 8:30AM and 4:30PM, Mon...",13.0,16300022.0,44470.0,1954
546,6607994.0,10-16-1954,NaN,740.0,16344027.0,10838.0,1954
553,6593534.0,01-30-1954,NaN,629.0,16340009.0,48562.0,1954
601,6606194.0,06-03-1954,NaN,691.0,16343012.0,50765.0,1954
904,6638219.0,06-28-1954,NaN,954.0,16353013.0,398154.0,1954
939,6625331.0,07-27-1954,NaN,851.0,16349010.0,41386.0,1954

In [21]:
pd.to_datetime('dob')

ValueError: Unknown string format

In [22]:
df = df.sort_values(by = 'dob')

In [23]:
df.head()

,caseid,dob,message,position_number,reservation_seniority,txtchangesid,yob
113,6565935.0,01-01-1949,NaN,440.0,16332027.0,39089.0,1949
757,6624633.0,01-01-1974,NaN,858.0,16349017.0,398135.0,1974
271,6552438.0,01-01-1980,NaN,343.0,16327025.0,38979.0,1980
173,6560346.0,01-02-1958,NaN,409.0,16329027.0,38327.0,1958
66,6525045.0,01-02-1960,"Please call 311 between 8:30AM and 4:30PM, Mon...",149.0,16318004.0,357037.0,1960

In [24]:
df.reservation_seniority.value_counts

<bound method IndexOpsMixin.value_counts of 113    16332027.0
757    16349017.0
271    16327025.0
173    16329027.0
66     16318004.0
685    16348013.0
666    16334020.0
200    16335032.0
824    16316012.0
661    16343031.0
965    16324005.0
775    16351017.0
668    16346014.0
659    16336014.0
484    16348007.0
306    16306033.0
473    16349005.0
728    16327008.0
758    16306026.0
527    16341027.0
690    16323024.0
588    16343013.0
359    16350007.0
238    16336002.0
532    16341028.0
687    16334026.0
889    16343034.0
439    16317002.0
793    16336010.0
467    16327009.0
          ...
63     16354005.0
956    16324001.0
843    16350021.0
556    16352020.0
862    16332003.0
796    16341003.0
157    16313005.0
909    16334040.0
24     16305013.0
106    16350023.0
476    16319003.0
243    16336005.0
102    16344013.0
388    16338007.0
453    16327015.0
711    16329004.0
792    16338003.0
856    16323020.0
866    16318001.0
448    16352017.0
635    16345027.0
456    16336018.0
250    16335036.0
664    16314031.0
77     16337021.0
16     16302016.0
120    16332019.0
255    16316025.0
403    16315018.0
901    16346012.0
Name: reservation_seniority, dtype: float64>

In [25]:
df.reservation_seniority.describe()

count    9.660000e+02
mean     1.633255e+07
std      1.355652e+04
min      1.629800e+07
25%      1.632302e+07
50%      1.633403e+07
75%      1.634401e+07
max      1.635401e+07
Name: reservation_seniority, dtype: float64

In [26]:
caseOne = df.dob[2]
print(type(caseOne))
print(caseOne)

<class 'str'>
02-23-1982

In [27]:
df.tail(40)

,caseid,dob,message,position_number,reservation_seniority,txtchangesid,yob
495,6560480.0,12-18-1987,NaN,393.0,16329011.0,293253.0,1987
236,6587775.0,12-19-1947,NaN,609.0,16338020.0,389867.0,1947
409,6530618.0,12-19-1984,"Please call 311 between 8:30AM and 4:30PM, Mon...",172.0,16320019.0,9458.0,1984
51,6631108.0,12-19-2016,NaN,906.0,16351016.0,379693.0,2016
957,6583369.0,12-20-1951,NaN,566.0,16337002.0,25072.0,1951
225,6514740.0,12-20-1961,NaN,96.0,16315004.0,277204.0,1961
654,6513298.0,12-20-1969,"Please call 311 between 8:30AM and 4:30PM, Mon...",111.0,16315021.0,385846.0,1969
205,6556745.0,12-20-1980,NaN,367.0,16328017.0,283948.0,1980
671,6617818.0,12-20-1983,NaN,792.0,16347009.0,329431.0,1983
92,6543951.0,12-20-1986,NaN,301.0,16324041.0,6012.0,1986
63,6640254.0,12-21-1951,NaN,960.0,16354005.0,395077.0,1951
956,6545185.0,12-21-1955,NaN,262.0,16324001.0,375951.0,1955
843,6629581.0,12-22-1943,NaN,882.0,16350021.0,279476.0,1943
556,6634951.0,12-22-1959,NaN,931.0,16352020.0,397846.0,1959
862,6567718.0,12-22-1970,NaN,418.0,16332003.0,283650.0,1970
796,6596218.0,12-22-1972,NaN,633.0,16341003.0,372776.0,1972
157,6505801.0,12-22-1983,NaN,79.0,16313005.0,303835.0,1983
909,6571665.0,12-23-1948,NaN,490.0,16334040.0,338080.0,1948
24,6475815.0,12-23-1954,"Please call 311 between 8:30AM and 4:30PM, Mon...",33.0,16305013.0,7368.0,1954
106,6627328.0,12-23-1958,NaN,884.0,16350023.0,390004.0,1958
476,6525183.0,12-23-1959,"Please call 311 between 8:30AM and 4:30PM, Mon...",155.0,16319003.0,327331.0,1959
243,6579419.0,12-23-1961,NaN,550.0,16336005.0,17897.0,1961
102,6609233.0,12-23-1963,NaN,726.0,16344013.0,36152.0,1963
388,6587598.0,12-24-1946,NaN,596.0,16338007.0,300390.0,1946
453,6552751.0,12-24-1961,NaN,334.0,16327015.0,12951.0,1961
711,6559217.0,12-24-1985,NaN,386.0,16329004.0,329658.0,1985
792,6588668.0,12-25-1955,NaN,592.0,16338003.0,30552.0,1955
856,6540387.0,12-26-1951,"Please call 311 between 8:30AM and 4:30PM, Mon...",240.0,16323020.0,10304.0,1951
866,6523132.0,12-26-1951,"Please call 311 between 8:30AM and 4:30PM, Mon...",146.0,16318001.0,19746.0,1951
448,6635796.0,12-26-1970,NaN,928.0,16352017.0,366104.0,1970
635,6611250.0,12-26-1973,NaN,770.0,16345027.0,296474.0,1973
456,6582098.0,12-26-1991,NaN,562.0,16336018.0,350876.0,1991
250,6577319.0,12-27-1960,NaN,536.0,16335036.0,51760.0,1960
664,6511320.0,12-27-1961,"Please call 311 between 8:30AM and 4:30PM, Mon...",91.0,16314031.0,44074.0,1961
77,6584460.0,12-28-1958,NaN,585.0,16337021.0,397109.0,1958
16,6467039.0,12-28-1980,"Please call 311 between 8:30AM and 4:30PM, Mon...",21.0,16302016.0,379334.0,1980
120,6566598.0,12-29-1966,NaN,432.0,16332019.0,392683.0,1966
255,6518983.0,12-29-1988,"Please call 311 between 8:30AM and 4:30PM, Mon...",131.0,16316025.0,391467.0,1988
403,6514219.0,12-30-1961,"Please call 311 between 8:30AM and 4:30PM, Mon...",109.0,16315018.0,389020.0,1961
901,6614919.0,12-30-1980,NaN,782.0,16346012.0,380938.0,1980

# how do I change column to_datetime

Am I even sure that I want to change this.

In [28]:
print('http://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html')
print('http://stackoverflow.com/questions/26763344/convert-pandas-column-to-datetime')

http://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html
http://stackoverflow.com/questions/26763344/convert-pandas-column-to-datetime

In [29]:
#raw_data['Mycol'] =  pd.to_datetime(raw_data['Mycol'], format='%d%b%Y:%H:%M:%S.%f')

In [30]:
# doesn't work
#theawnseris = pd.to_datetime(df['dob'], format='%m-%d-%Y')

In [31]:
# df = df['dob'].pd.to_datetime(format= '%d/%m/%Y')

In [32]:
df.head()

,caseid,dob,message,position_number,reservation_seniority,txtchangesid,yob
113,6565935.0,01-01-1949,NaN,440.0,16332027.0,39089.0,1949
757,6624633.0,01-01-1974,NaN,858.0,16349017.0,398135.0,1974
271,6552438.0,01-01-1980,NaN,343.0,16327025.0,38979.0,1980
173,6560346.0,01-02-1958,NaN,409.0,16329027.0,38327.0,1958
66,6525045.0,01-02-1960,"Please call 311 between 8:30AM and 4:30PM, Mon...",149.0,16318004.0,357037.0,1960

In [33]:
df['dob'].sort_values()

113    01-01-1949
757    01-01-1974
271    01-01-1980
173    01-02-1958
66     01-02-1960
685    01-02-1988
666    01-02-1996
200    01-03-1946
824    01-03-1966
661    01-03-1970
965    01-03-1981
775    01-04-1956
668    01-04-1975
659    01-04-1980
484    01-05-1959
306    01-05-1960
473    01-05-1986
728    01-05-1989
758    01-06-0969
527    01-06-1953
690    01-06-1962
588    01-06-1965
359    01-07-1951
238    01-07-1959
532    01-07-1970
687    01-07-1975
889    01-08-1943
439    01-08-1951
793    01-08-1958
467    01-09-1946
          ...
63     12-21-1951
956    12-21-1955
843    12-22-1943
556    12-22-1959
862    12-22-1970
796    12-22-1972
157    12-22-1983
909    12-23-1948
24     12-23-1954
106    12-23-1958
476    12-23-1959
243    12-23-1961
102    12-23-1963
388    12-24-1946
453    12-24-1961
711    12-24-1985
792    12-25-1955
856    12-26-1951
866    12-26-1951
448    12-26-1970
635    12-26-1973
456    12-26-1991
250    12-27-1960
664    12-27-1961
77     12-28-1958
16     12-28-1980
120    12-29-1966
255    12-29-1988
403    12-30-1961
901    12-30-1980
Name: dob, dtype: object

# save so that I can compare with later and other versions

see

In [18]:
print('http://stackoverflow.com/questions/17098654/how-to-store-data-frame-using-pandas-python')

http://stackoverflow.com/questions/17098654/how-to-store-data-frame-using-pandas-python

In [19]:
df.to_pickle('waitlist.pkl')